*{
    margin: 0;
    padding: 0;
}
.box{
    width: 1000px;
    border: 5px rgb(21, 21, 20);
    margin: 0 auto;
}
.main-new{
    padding:20px;
    background-color: rgb(255, 255, 255);
}
